body {
    overflow: hidden;
    align-content: center;
}

body.no-anim * {
    animation-play-state: paused !important;
    transition: none !important;
}

#canvas {
    background-color: #000;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 960px;
    height: 540px;
}

#c {
    background-color: black;
    position: relative;
    overflow: hidden;
    width: 960px;
    height: 540px;
    left: calc(50% - 960px / 2);
}

#btn-pause {
    position: relative;
    font-size: 2em;
    top: 1%;
    left: 96%;
    cursor: pointer;
}